body {
    background:royalblue;
}
h1 {
    color:yellow;
}
li {
    color:red;
}
li {
    font-family: 'Caveat', cursive;
}
li {
    font-size:50px;
}
img {
    height:500px;
}
h1 {
    font-size:60px;
}